{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="hero-container">
    <div class="hero" style="background-image: url('{% static "images/communitycentre.svg" %}');"></div>
</div>

<!-- Filter by Category Section -->
<div class="filter-container">
    <div class="category-filter">
        <form method="GET" action="{% url 'index' %}">
            <label class="filter-label" for="category">Sort by Category:</label>
            <select name="category" id="category" onchange="this.form.submit()">
                <option value="">All</option>
                {% for value, label in categories %}
                <option value="{{ value }}" {% if request.GET.category == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
</div>

<!-- Main Content -->
<div class="container main-container">
    <div class="events-grid">
        {% if page_obj %}
        <!-- Events Column -->
            {% for event in page_obj %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ event.title }}</h2>
                    <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                    <p class="card-text"><strong>Time:</strong> {{ event.start_time }} - {{ event.end_time }}</p>
                    <p class="card-text"><strong>Location:</strong> {{ event.location.name }}</p>
                    <p class="card-text"><strong>Category:</strong> {{ event.category }}</p>
                    <!-- <p class="card-text">{{ event.excerpt|slice:":50" }}{% if event.excerpt|length > 100 %}...{% endif %} -->
                    </p>
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Sorry! No events listed under this category at the moment.</p>
        {% endif %}
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>   
</div>
{% endblock %}