body {
    font-family: "Roboto", sans-serif;
    background-color: #878937; 
    margin: 0;
    padding: 0;
}

/* Navbar Section" */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbar .logo {
    max-width: 50px;
}

/* Navbar Login Section*/



/* Canva hero image" */
.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

/* Logo section */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo-section {
    text-align: center;
    margin: 20px 0;
}

.logo {
    max-width: 100px;
}

/* Noticeboard section */
.events-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff8ed; 
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Fixed width for square cards */
    height: 300px; /* Fixed height for square cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #7d502; 
}

.card-text {
    margin-bottom: 10px;
    color: #7d502; 
}

/* Buttons section */
.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Socials section */
.social-icons {
    text-align: center;
    margin: 20px 0;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
}
