{% extends "base.html" %}

{% block title %}404 Error Page{% endblock %}
{% block content %}

<div class="description-container">
    <h2>Oops! That page can't be found.</h2>
    <p>Oops! We’ve Lost Our Way!
        It seems the page you’re looking for has taken a detour to the snack bar! 🍕🍩</p>

    <p> While we try to find it, why not check out our community events or join a class? Who knows, you might discover something even more exciting!  </p>
    <p> Don't worry, you can click on this link to go HOME</p>
    <a href="{% url 'index' %}" class="btn btn-primary">HOME</a>
</div>

{% endblock %}